<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to "View All Portfiolio Items", portfolios_path %> |<!-- | is seperator -->
      <a href="#">Back to top</a>
    </p>
    <p>
        <%= copyright_generator %>
    </p>
  </div>
</footer>